<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/archivo.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">



    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

    <!-- KEYWORDS es de cada seccion -->
    <meta name="keywords" content="contacto, informacion">

    <!-- META DESCRIPTION  es de todo el sitio-->
    <meta name="description" content="Este sitio web contiene productos veganos caseros de La Plata. Comida rica, simple y saludable para que puedas comprar y recetas para acompañar">


    <title>Contacto</title>

</head>




<body>


    
    <header> <!--Donde va a estar onda veggie y el menú de navegación-->
    <div class="contenedor-navbar"> 
            <p>Onda Veggie</p>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./recetas.html">Recetas</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h1 class="titulosViews">CONTACTO</h1>

            <form action="">
                <div id="contenedorForm">
                    <div class="form">
                        <label for="nombre">Nombre y apellido: </label> <!--Lo blanco es lo que nos aparece al lado del recuadro-->
                        <input type="text" id="nombre"></input> 
                    </div>

                    <div class="form">
                        <label for="mail">Correo electrónico</label>
                        <input type="email"></input>
                    </div>

                    <div class="form">
                        ¿Cómo nos conociste?: <select name="" id="">
                            <option value="instagram">Instagram</option>
                            <option value="recomendacion">Me lo recomendó un amigx</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>

                    <div class="form">
                        ¿Querés recibir los menús semanales?
                        <input type="checkbox">
                    </div>

                    <div class="form">
                        Dejanos tu comentario <br>
                        <textarea name="" id="" cols="45" rows="4"></textarea>
                        <br><input type="submit">
                        <input type="reset">
                    </div>
                </div>
            </form>

    </main>


    <footer>
        <div class="contenedor">
            <div class="follow">
                <p>Seguinos en nuestras redes y hacenos tu pedido</p>
            </div>
            <div class="redesSociales">
                <i class="fab fa-instagram fa-2x"></i>
                <i class="fab fa-facebook-square fa-2x"></i>
                <i class="fab fa-whatsapp fa-2x"></i>
            </div>
        </div>
    </footer>


</body>
</html>