<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/archivo.css">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

    <!-- KEYWORDS es de cada seccion -->
    <meta name="keywords" content="descripcion, emprendedores, informacion">

    <!-- META DESCRIPTION  es de todo el sitio-->
    <meta name="description" content="Este sitio web contiene productos veganos caseros de La Plata. Comida rica, simple y saludable para que puedas comprar y recetas para acompañar">

    <title>Nosotros / Información sobre los creadores de Onda Veggie</title>
</head>




<body>


    
    <header> 
        <div class="contenedor-navbar"> 
            <p>Onda Veggie</p>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./recetas.html">Recetas</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h1 class="titulosViews">SOBRE ONDA VEGGIE</h1>
            <div class="contenedor-menusem">
                <div class="tarjeta-menu">
                    <img src="../img/menusemanal/pizzaCaprese.jpeg" alt="Pizza Caprese" class="tarjeta-img">
                    <div class="tarjeta-texto">
                        <h3>Pizza Caprese</h3>
                    </div>
                </div>

                <div class="tarjeta-menu">
                    <img src="../img/menusemanal/sorrentinosCurcuma.jpeg" alt="Sorrentinos de Curcuma" class="tarjeta-img">
                    <div class="tarjeta-texto">
                        <h3>Sorrentinos de cúrcuma</h3>
                    </div>
                </div>

                <div class="tarjeta-menu">
                    <img src="../img/menusemanal/pizzaCebolla.jpeg" alt="Pizza de Cebolla" class="tarjeta-img">
                    <div class="tarjeta-texto">
                        <h3>Pizza de cebolla</h3>
                    </div>
                </div>

                <div class="tarjeta-menu">
                    <img src="../img/menusemanal/pizzaNapolitana.PNG" alt="Pizza napolitana" class="tarjeta-img">
                    <div class="tarjeta-texto">
                        <h3>Pizza napolitana</h3>
                    </div>
                </div>

                <div class="tarjeta-menu">
                    <img src="../img/menusemanal/sorrentinosEspinaca.jpeg" alt="Sorrentinos de espinaca" class="tarjeta-img">
                    <div class="tarjeta-texto">
                        <h3>Sorrentinos de espinaca</h3>
                    </div>
                </div>

                <div class="tarjeta-menu">
                    <img src="../img/menusemanal/pizzaVerduras.PNG" alt="Pizza de verduras" class="tarjeta-img">
                    <div class="tarjeta-texto">
                        <h3>Pizza de verduras</h3>
                    </div>
                </div>

                <div class="tarjeta-menu">
                    <img src="../img/menusemanal/sorrentinosRemolacha.jpg" alt="Sorrentinos de remolacha" class="tarjeta-img">
                    <div class="tarjeta-texto">
                        <h3>Sorrentinos de remolacha</h3>
                    </div>
                </div>

                <div class="tarjeta-menu">
                    <img src="../img/menusemanal/Empanadas1.jpeg" alt="Empanadas" class="tarjeta-img">
                    <div class="tarjeta-texto">
                        <h3>Empanadas</h3>
                    </div>
                </div>

                <div class="tarjeta-menu">
                    <img src="../img/menusemanal/pansotti.jpg" alt="Pansotti" class="tarjeta-img">
                    <div class="tarjeta-texto">
                        <h3>Producto1</h3>
                    </div>
                </div>
            </div>


        </div>


    <footer>
        <div class="contenedor">
            <div class="follow">
                <p>Seguinos en nuestras redes y hacenos tu pedido</p>
            </div>
            <div class="redesSociales">
                <i class="fab fa-instagram fa-2x"></i>
                <i class="fab fa-facebook-square fa-2x"></i>
                <i class="fab fa-whatsapp fa-2x"></i>
            </div>
        </div>
    </footer>

</body>
</html>