<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/archivo.css">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

    <!-- KEYWORDS es de cada seccion -->
    <meta name="keywords" content="descripcion, emprendedores, informacion">

    <!-- META DESCRIPTION  es de todo el sitio-->
    <meta name="description" content="Este sitio web contiene productos veganos caseros de La Plata. Comida rica, simple y saludable para que puedas comprar y recetas para acompañar">

    <title>Nosotros / Información sobre los creadores de Onda Veggie</title>
</head>




<body>


    
    <header> 
        <div class="contenedor-navbar"> 
            <p>Onda Veggie</p>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./recetas.html">Recetas</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h1 class="titulosViews">SOBRE ONDA VEGGIE</h1>

        <section id="tarjetas">
            <div class="contenedor-tarjetas">
                <div class="tarjeta">
                    <img src="../img/el.jpeg" alt="">
                    <h2 class="tarjeta-titulo">Martín</h2>
                    <p class="tarjeta-parrafo">Tiene 30 años y estudió Gastronomía en la IAG</p>
                    <a href="#" class="tarjeta-boton">
                        <span class="tarjeta-boton-parrafo">su instagram</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
    
                <div class="tarjeta">
                    <img src="../img/ella.jpeg" alt="">
                    <h2 class="tarjeta-titulo">Sofi</h2>
                    <p class="tarjeta-parrafo">Tiene 27 años y su comida favorita es es el pastel bicolor</p>
                    <a href="#" class="tarjeta-boton">
                        <span class="tarjeta-boton-parrafo">su instagram</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
        
        </section>



        <h2 class="nosotros-titulo">
            “El plant based se refiere sólo a la alimentación mientras que el veganismo es algo más profundo. 
            Se trata de un estilo de vida. Por ejemplo, alguien puede tener una alimentación a base de plantas y usar una billetera de cuero. 
            Por su parte, un vegano nunca usaría este tipo de producto porque, justamente, involucra un sacrificio animal. 
            Un vegetariano, en cambio, sí consume alimentos como huevo, leche, queso”. Los motivos por los que una persona puede querer cambiar su 
            forma de comer son ilimitados y van desde cuidar su salud, cuestiones ideológicas hasta porque simplemente le gustan más las verduras. Nosotros
                apostamos y queríamos mostrar que se puede comer rico, sano y sin involucrar animales
        </h2> 



        <article class="imagenes-nosotros" style="background: white">
            <img class="imgElla" src="../img/DSC02966-102.jpeg" />
            
            <img class="superpuesto imgElla2" src="../img/IMG-1354.jpg" />
            
            <img class="imgElla" src="../img/DSC02964-101.jpeg" />

            <img class="superpuesto imgElla2" src="../img/IMG-1355.jpg" />
        </article>
        
    </main>


    <footer>
        <div class="contenedor">
            <div class="follow">
                <p>Seguinos en nuestras redes y hacenos tu pedido</p>
            </div>
            <div class="redesSociales">
                <i class="fab fa-instagram fa-2x"></i>
                <i class="fab fa-facebook-square fa-2x"></i>
                <i class="fab fa-whatsapp fa-2x"></i>
            </div>
        </div>
    </footer>

</body>
</html>