<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/archivo.css">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>


    <!-- KEYWORDS es de cada seccion -->
    <meta name="keywords" content="productos veganos, comida">

    <!-- META DESCRIPTION  es de todo el sitio-->
    <meta name="description" content="Este sitio web contiene productos veganos caseros de La Plata. Comida rica, simple y saludable para que puedas comprar y recetas para acompañar">
    
    <title>Productos</title>
</head>




<body id="productos">

    <header > 
        <div class="contenedor-navbar"> 
            <p>Onda Veggie</p>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./recetas.html">Recetas</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h1 class="titulosViews">MENÚ PRINCIPAL</h1>

            <section class="contenedorProductos">

                <div class="contenedorProductosPrincipales">
                    <div class="contenedor-producto">
                        <div class="productos-izquierda">
                            <img src="../img/menufijo/hamburguesa.jpg" alt="">
                        </div>
                        <div class="productos-derecha">
                            <div class="producto-texto">
                                    <p>Sabores:
                                        <ul class="producto-listas">
                                            <li>Garbanzos, calabaza y cebolla de verdeo</li>
                                            <li>Porotos negros y berenjenas</li>
                                            <li>Lentejas</li>
                                            <li>Porotos mung y brócoli</li>
                                            <li>Arvejas y zanahoria</li>
                                        </ul>
                                    </p>
                            </div> 
                        </div>
                    </div>

                    <div class="contenedor-producto">
                        <div class="productos-izquierda">
                            <img src="../img/menufijo/falafel.jpg" alt="">
                        </div>
                        <div class="productos-derecha">
                            <div class="producto-texto">
                                <p>Estas croquetas de garbanzos sin conservantes típicas de la cocina oriental.</p>
                            </div> 
                        </div>
                    </div>

                    <div class="contenedor-producto">
                        <div class="productos-izquierda">
                            <img src="../img/menufijo/choris.jpg" alt="">
                        </div>
                        <div class="productos-derecha">
                            <div class="producto-texto">
                                <p>100% veganos - de arroz y soja texturizada. ¡El próximo asado, lucite con unos ricos choris a la parrilla!</p>
                            </div> 
                        </div>
                    </div>

                    <div class="contenedor-producto">
                        <div class="productos-izquierda">
                            <img src="../img/menufijo/milanesa.jpg" alt="">
                        </div>
                        <div class="productos-derecha">
                            <div class="producto-texto">
                                <p>Nuestras milas de berenjena, además de veganas, están rebozadas con productos Sin Tacc.
                                    También las podés encontrar en uno de nuestros combos, que es un mix de milas, falafel y burgers!
                                </p>
                            </div> 
                        </div>
                    </div>
            </section>
    </main>
    
                                                            <!-- FOOTER -->


    <footer>
        <div class="contenedor">
            <div class="follow">
                <p>Seguinos en nuestras redes y hacenos tu pedido</p>
            </div>
            <div class="redesSociales">
                <i class="fab fa-instagram fa-2x"></i>
                <i class="fab fa-facebook-square fa-2x"></i>
                <i class="fab fa-whatsapp fa-2x"></i>
            </div>
        </div>
    </footer>
</body>
</html>