<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/archivo.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

    <!-- KEYWORDS es de cada seccion -->
    <meta name="keywords" content="comida, cocina, recetas, vegano, alimentacion">

    <!-- META DESCRIPTION  es de todo el sitio-->
    <meta name="description" content="Este sitio web contiene productos veganos caseros de La Plata. Comida rica, simple y saludable para que puedas comprar y recetas para acompañar">
    
    <title>Recetas</title>
</head>




<body>


    
    <header> 
        <div class="contenedor-navbar">
            <p>Onda Veggie</p>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./recetas.html">Recetas</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <h1 class="titulosViews">RECETAS</h1>

    <section class="contenedor">
        <div class="contenedor__recetas">
            <div class="recetas"> <!-- BLOQUE 5 -->
                <div class="recetas__textos">
                    <h3 class="recetas__titulo">ALIOLI</h3>
                    <h4>
                    INGREDIENTES
                    </h4>
                        <ul class="receta__ingredientes"> 
                            <li>Leche vegetal</li>
                            <li>Aceite</li>
                            <li>Ajo y sal</li>
                        </ul>
                    <p class="receta__parrafo">
                        Ponemos un poco de leche en un recipiente y le vas agregando aceite mientras vas procesando hasta que te quede con la textura deseada. También le agregás el ajo y la sal. La cantidad de sal y tamaño del ajo es a gusto! 
                    </p>
                    <a href="#" class="boton boton--absoluto">
                            <span class="boton__texto">MIRÁ EL VIDEO</span>
                            <i class="boton__icono fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>



            <div class="recetas recetas--mayonesa"> <!-- BLOQUE 6 -->
                <div class="recetas__textos">
                    <h3 class="recetas__titulo">MAYONESA DE ZANAHORIA</h3>
                    <h4>
                        INGREDIENTES
                    </h4>
                        <ul class="receta__ingredientes"> 
                            <li>Zanahoria</li>
                            <li>Aceite</li>
                            <li>Jengibre</li>
                            <li>Sal y condimentos a gusto</li>
                        </ul>
                    <p class="receta__parrafo">
                        Hervís la zanahoria y cuando la pinchas y está blandita la sacas del agua. Luego la ponés en un recipiente con un chorrito de aceite (si es oliva mejor), un pedacito de jengibre, la sal y los condimentos. Procesas hasta que quede cremosa y listo! Si llega a estar muy firma podes agregarle un poquito de agua. 
                    </p>
                    <a href="#" class="boton boton--absoluto boton--naranja">
                        <span class="boton__texto">MIRÁ EL VIDEO</span>
                        <i class="boton__icono fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>

        
            <div class="recetas recetas--coleslow"> <!-- BLOQUE 7 -->
                <div class="recetas__textos">
                    <h3 class="recetas__titulo">ENSALADA COLESLOW</h3>
                    <h4>
                        INGREDIENTES
                    </h4>
                        <ul class="receta__ingredientes"> 
                            <li>3 cdas. de salsa onda veggie o mayo vegana</li>
                            <li>1 zanahoria rallada</li>
                            <li>1/2 cebolla picada</li>
                            <li>Repollo blanco y colorado</li>
                            <li>Jugo de limón</li>
                            <li>1 cdita de mostaza</li>
                            <li>1/2 cdita de stevia</li>
                            <li>Sal y pimienta a gusto</li>
                        </ul>
                    <p class="receta__parrafo">
                        Mezclar todo en un recipiente y servir. Es muy rápida y con la ayuda de un buen rallador todavía más
                    </p>
                    <a href="#" class="boton boton--absoluto boton--celeste">
                            <span class="boton__texto">MIRÁ EL VIDEO</span>
                            <i class="boton__icono fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>    
    </section>




    <div class="frase"> <!--BLOQUE 8 -->
        <h2 class="frase__texto"> <!--Elemento del bloque--> 
            TODAS ESTAS RECETAS LAS PODES COMBINAR CON NUESTROS PRODUCTOS
        </h2>
            <a href="../views/productos.html" class="boton boton--compra">
                <span class="boton__texto">SABER MÁS</span>
                <i class="fas fa-shopping-cart"></i>
            </a>
    </div>


    <footer>
        <div class="contenedor">
            <div class="follow">
                <p>Seguinos en nuestras redes y hacenos tu pedido</p>
            </div>
            <div class="redesSociales">
                <i class="fab fa-instagram fa-2x"></i>
                <i class="fab fa-facebook-square fa-2x"></i>
                <i class="fab fa-whatsapp fa-2x"></i>
            </div>
        </div>
    </footer>




</body>
</html>