body{
    margin:0;
    padding:0;
    background:#f5f5f1;
}

h1{
    font-size:160px;
    margin-bottom:50px;
    margin-left:80px;
    width:50%;
}

.titulosViews{
    font-family: 'Open Sans', sans-serif;
    color:#789784;
    font-size:35pt;
    text-align:center;
    margin:auto; /*Me centra automaticamente el texto*/
}



h3{
    font-weight: normal;
}


/* ------------------------------------------- INDEX ------------------------------------------------------------------------------------------- */

/* --------------------------------------- INDEX - HEADER */ 

body{
    font-family: 'Open Sans', sans-serif;
}

#navbar-background{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background: white;
}

header .contenedor-navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.contenedor-navbar {
    width:100%;
    margin:0;
}


header ul{
    display:flex;
    
}

li {
    list-style:none;
    

}

li a { 
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    
}

li a:hover{
    text-decoration: underline;
}

header ul li{
    margin-right:20px; 
}

header p{
    font-weight: 700;
    text-transform: uppercase;
    font-size:20px;
    padding: 0 80px;
}


a{
    list-style: none;
}


@media screen and (max-width: 600px) {.topnav a {
    float: none;
    width: 100%;
  }
}

/* -------------------------------------- INDEX - SECCIÓN I */

.izquierda{
    background:#789784;
    height:100vh;
    width:50%;
}

.izquierda h1{
    margin-top:150px;
    
}

.derecha{
    background-size:cover;
    background-position:center;
    height:100vh;
    width:50%;
    background: url('../../img/imgLarge.png') no-repeat;
}


.derecha img{
    max-width:100%; 
    
}

#pantalladividida{
    display: flex;
    justify-content:center;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.ondaveggie{
    color:white;
    font-size:100pt;
    letter-spacing: 4px;
    
    
}


.izquierda p{

    font-size:20pt;
    line-height:30px;
    width:50%;
    margin:auto;
    margin-left:80px;
    
}

/* -------------------------------------- INDEX - SECCIÓN II - TRES TARJETAS */

.seccion2-titulo{
    text-align:center;
    margin: 50px 0;
    font-family: 'Bitter', serif;
    font-size:25pt;
}


.contenedor-tarjetas{
    display:flex; /*me queda uno al lado del otro*/
    justify-content: center; /*me quedan las tres centradas*/
    margin: 50px 0;
}

.tarjeta img{
    width:100%;
    height:400px;
}

.tarjeta{
    width:25%;
    margin: 0 30px;
    background:white;
    text-align:justify;
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size:15px;
}

.tarjeta-titulo, .tarjeta-parrafo{
    padding:5px 30px;
}

.tarjeta-boton{
    text-decoration: none;
    color:#789784;
    padding-left:30px;
}

.tarjeta-boton-parrafo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 5em;
}



/* -------------------------------------- INDEX - SECCIÓN III */

.seccion3-titulo{
    text-align:center;
    margin: 30px 0;
    font-family: 'Bitter', serif;
    font-size:15pt;
}


.gif {
    width: 40%;
    height: auto;
    padding: 20px 450px;

}


/*------------------------------- INDEX - SECCION IV*/



.contenedor-index-recetas{
    display:flex; /*me queda uno al lado del otro*/
    justify-content: center; /*me quedan las tres centradas*/
    margin:40px 150px;
}


.index-receta img{
    width:100%;
    border:solid 12px white;
    transition: height 2s;
}


.index-receta img:hover{
    border: solid 7px white;
}


.index-receta{
    margin: 30px;
    text-align:justify;
    font-family: 'Bitter', serif;
    font-size:15px;
}
















/* FOOTER */

footer{
    background-color:#955226;
    color:white;
    padding:50px;
}

footer  p{
    margin:0; 
    text-transform: uppercase;
    margin-left:140px;
    font-family: 'Bitter', serif;
    font-weight: 700;
}

footer .contenedor{
    display:flex;
    justify-content: space-between;
}

footer svg{ /*Aunque las etiquetas son i, Chrome lo toma como svg*/
    margin:0 20px;
    font-size:200px;
}




/* ------------------------------------------- MENU SEMANAL------------------------------------------------------------------------------------------- */


.nosotros{
    text-align:center;
    font-family: 'Bitter', serif;
    font-size:25pt;
}

.contenedor-menusem{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:30px;

    width:90%;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top:3em;
    margin-bottom:3em;

}

.tarjeta-img{
    max-width:100%;
    display:block;
}

.tarjeta-menu{
    background-color:#d7bfa9;
    cursor:pointer;
    box-shadow: 0 0 5px 0 #9e4c40;

    transition: all 300ms;
    position:relative;
}

.tarjeta-menu:hover{
    transform:scale(1.05);
}

.tarjeta-menu:after{
    content:"";
    background-color:rgba(179,229,252,.1);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
}

.tarjeta-menu:hover:after{
    opacity:1;
    transform:scale(1);
}
.tarjeta-texto h3{
    padding:1em;
    font-family: 'Bitter', serif;
    font-weight: 700;
    text-align:center;
}


@media screen and (min-width:590px) {
    .contenedor-menusem{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width:960px) {
    .contenedor-menusem{
        grid-template-columns: repeat(3,1fr);
    }
}


/* ------------------------------------------- RECETAS------------------------------------------------------------------------------------------- */


.contenedor__recetas{
    max-width:1000px;
    width:50%;
    padding: 0 auto;
    margin:auto;
    font-size:18px;
    padding:10px;
}

.recetas{
    background-color:#bccca4;
    margin-top:15px;
    border-radius: 15px;
    padding:20px;
    display:flex;
    align-items: center;
    position:relative;
    margin-bottom:50px;
}


.recetas__titulo{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color:black;
    text-align:center;
    margin:auto;
    font-size:20pt;
}

.recetas--mayonesa{
    background-color:#e4cc74;
}


.recetas--coleslow{
    background-color:#b3d6d7;
}

.boton{
    border:none;
    min-width: 180px;
    height:50px;
    padding: 0 30px;
    color:#FFF;
    display:inline-block;
    border-radius: 100px;
    text-decoration:none;
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    background:#789784;
    transition: .3s ease all;
}
.boton:hover{
    background:#bccca4;
    text-decoration: none;
}

.boton--absoluto{  /*MODIFICADOR*/
    position:absolute;
    right:20px;
    bottom:-25px;
}

.boton--marron{
    background:#955226;
}

.boton--marron:hover{
    background:#9b6d4f;
}

.frase{
    text-align:center;
    margin:70px 0;
}

.frase__texto{
    margin-bottom:20px;
    font-size:30px;
    font-weight: 600;
    font-style:italic;
}

.boton--compra{
    background:#e4cc74;
}

.boton--compra:hover{
    background:#c0b58b;
}


.boton--celeste{
    background:#81d0d3;
}

.boton--celeste:hover{
    background: #b3d6d7;
}

.boton--naranja{
    background:#d8c994;
}

.boton--naranja:hover{
    background:#c0b58b;
}



/* ------------------------------------------- CONTACTO ------------------------------------------------------------------------------------------- */

#contenedorForm{
    background-color:#c0d487;
    margin-left:500px;
    margin-top:80px;
    margin-bottom:80px;
    padding-top:2px;
    padding-bottom:15px;
    height:45vh;
    width:35%;
    border-style: dotted;
    text-align: justify;
}

.form{
    color:black;
    margin-top:20px;
    margin-left:70px;
    color:#356726;
}



/* ------------------------------------------- PRODUCTOS ------------------------------------------------------------------------------------------- */


.contenedor-productos{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:30px;

    width:90%;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top:3em;
    margin-bottom:3em;

}

.tarjeta-img{
    max-width:100%;
    display:block;
}

.tarjeta-productos{
    background-color:#9caa8d;
    cursor:pointer;
    box-shadow: 0 0 5px 0 #6c8274;

    transition: all 300ms;
    position:relative;
}

.tarjeta-productos:hover{
    transform:scale(1.05);
}

.tarjeta-:after{
    content:"";
    background-color:rgba(179,229,252,.1);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
}

.tarjeta-productos:hover:after{
    opacity:1;
    transform:scale(1);
}


.tarjeta-texto-productos p{
    font-family: 'Bitter', serif;
    font-weight: 700;
    text-align: center;
}

@media screen and (min-width:590px) {
    .contenedor-productos{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (min-width:960px) {
    .contenedor-productos{
        grid-template-columns: repeat(2,1fr);
    }
}
